@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;800&display=swap');
*{
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body{
    background: black;
    font-family: 'Plus Jakarta Sans', sans-serif;
    overflow-x: hidden ;
}

/* HERO WRAPPER CODE */
.herowrapper{
    background: #F2F5F9;
    width: 100%;
    min-height: 95vh;
    display: flex;
    flex-direction: row;
}
.topnav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98vw;
    /* background: aqua; */
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    margin-top:20px;
    z-index: 10;
}
.bottomnav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98vw;
    /* background: aqua; */
    position: absolute; 
    left: 0; 
    right: 0;
    bottom: 0;
    margin-left: auto; 
    margin-right: auto;
    /* margin-top:20px; */
    z-index: 10;
}
.navboxwhite{
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: 0 10px;
    border-radius: 14px;
    box-shadow: 0px 16px 32px 0px rgba(9, 14, 29, 0.05);
}
#scrolldownbtn{
    border: solid black;
    width: 64px;
    height: 64px;
    transition: all 0.5s;
    z-index: 5;
}
#scrolldownbtn:hover{
    background: #A6CBFF;
    width: 66px;
    height: 66px;
}
.navboxmenu{
    background: #0F67FE;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 216px;
    height: 80px;
    margin: 0 10px;
    border-radius: 14px;
    color: white;
    
}
#menuboxheader{
    margin-right: 10%;
}
.navflexright{
    display: flex;
}

.assetsframe{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    /* padding-bottom: 10% ; */
    /* background: yellow; */
}

#herotextanddownload{
    /* background: teal; */
    width: 520px;
    margin-left: 10%;
    z-index: 3;
}
#heroheader{
    font-size: 5rem;
    text-decoration: solid;
}
#heropara{
    font-size: 1.5rem;
    margin-top: 40px;
}
#downloadbtn{
    background: #0F67FE;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 252px;
    height: 64px;
    margin: 40px 0px;
    border-radius: 12px;
    color: white;

    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.18px;
    border: none;
}
#downloadicon{
    margin-left: 20px;
}
.gradient{
    background: linear-gradient(#f2f5f900,#F2F5F9);
    width: 100%;
    height: 20vh;
    position: absolute;
    bottom: 0;
}

#herobgart{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100vh;
    /* width: 80vw; */
}

#iphone{
    position: absolute;
    right: 170px;
    bottom: 0;
    height: 88vh;
    /* width: 25vw; */
    
}
.herometrics{
    border-radius: 12px;
    box-shadow: 0px 8px 16px 0px rgba(36, 46, 73, 0.15);

}
#anomaly{
    position: absolute;
    right: 100px;
    bottom: 100px;
    z-index: 2;
    transition: all 0.5s;
}
#heartrate{
    position: absolute;
    right: 100px;
    bottom: 400px;
    z-index: 2;
    transition: all 0.5s;
}
#bloodpressure{
    position: absolute;
    right: 560px;
    bottom: 80px;
    z-index: 2;
    transition: all 0.5s;
}
#bloodpressure:hover,#heartrate:hover,#anomaly:hover{
    scale: 1.1;
}
/* MISSION WRAPPER */

.missionwrapper{
    background: #F2F5F9;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    display: flex;
}
.missioncolorbox{
    background: #242E49;
    width: 95%;
    min-height: 90vh;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0;
}
#missionboxmargins{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5% 0;
}
.missionelem{
    border-radius: 16px;
    height: 128px;
}
#missionelem1{
    background: #8A3FFC;
    width: 29%;
    margin-right: 1%;
    margin-top: 1%;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    color: white;
}
#shieldbox{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #A56EFF;
    width: 100px;
    height: 100px;
    border-radius: 16px;
    margin: 5% 6%;
    color: white;
    
}
#missionelem2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    background: #3D4966;
    width: 70%;
    font-size: 1.8rem;
    color: white;
}

#missionelem3{
    margin-top: 1%;
    background: #0F67FE;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 3%;
    font-size: 1.8rem;
}
#missionelem4{
    margin-top: 1%;
    display: flex;
    background: #3D4966;
    /* background-size: contain; */
    /* background-repeat:no-repeat ; */
    width: 70%;
    margin-right: 1%;
}
#missiontextdivdes{
    background: url('./assets/Group.png');
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #FFF;
}
#missionelem5{
    background: url('./assets/MLtextures.png');
    background-size:cover ;
    background-position: 10% 0%;
    margin-top: 1%;
    /* background: #0F67FE; */
    color: #FFF;
    width: 29%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#missiontextdiv{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 4%;
}
#missiontextdivl{
    width: 45%;
    font-size: 1.8rem;
}
#missiontextdivr{
    width: 45%;
    font-size: 1.5rem;
}
#learnmorebtn{
    display: flex;
    align-items: center;
    background: #ffffff00;
    border: #FFF solid 1px;
    color: white;
    font-size: 1.5rem;
    border-radius: 12px;
    padding: 2.5% 5%;
    margin-top: 5%;
}
#learnmorebtntxt{
    margin-right: 20px;
}

/* testimonials */
#teswrapper{
    background: #F2F5F9;
    /* align-items: center; */
    justify-content: center;
    min-height: 50vh;
    width: 100%;
    display: flex;
}
#tescolorbox{
    background: #D0E4FF;
    width: 95%;
    height: 35vh;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 0 0 0;
}
#lefttesoverlay{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    margin-left: 10%;
    /* height:100%; */
    /* background: url(./assets/Test.png); */
    /* background-repeat: no-repeat; */
}
#righttesoverlay{
    width: 50%;
    height:100%;
    background: url(./assets/Test.png);
    background-repeat: no-repeat;
    background-position: 100px;
}

/* Services */
#serviceswrapper{
    background: #F2F5F9;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    min-height: 110vh;
    width: 100%;
    display: flex;
}
#servicesbtn{
    display: flex;
    align-items: center;
    background: #ffffff00;
    border: #5D6A85 solid 1px;
    color: #5D6A85;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 12px;
    padding: 1% 1.5%;
    margin-top: 5%;
    margin-bottom: 0.5%;
}
#servicesheader{
    font-size: 3rem;
    margin-bottom: 2%;
}

#servicegrid{
    min-width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
}
.servgridbox{
    display: flex;
    max-width: 452px;
    height: 262px;
    border-radius: 24px;
    background: #ffffff;
    margin: 2% 2%;
    align-items: center;
}
.servgridboxl{
    width: 70%;
    margin-left:8%;
    margin-right: 8%;
}
.servgridboxr{
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 1.5rem ;
}
.servgridboxicon{
    width: 64px;
    height: 64px;
    background: #EDF5FF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7%;
    border-radius: 16px;
}
/* .servgridboxf{

} */
.servgridboxp{
    color:#5D6A85;
}
#servicesbottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}
#serviceslink{
    color: #0F67FE;
    text-decoration: none;
    font-weight: 600;
}

/* Features  */

#featureswrapper{
    background: #F2F5F9;
    /* align-items: center; */
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    display: flex;
}
#featuresinnerwrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    margin:2% auto;
    width: 98%;
    border-radius: 24px;
}
#featuresheader{
    font-size: 3rem;
    margin: 6% 0;
}
.featuresrow{
    display: flex;
    width: 1000px;
    margin: 2% 0;
}

.featuresrowl{
    width: 50%;
}
.featuresrowr{
    width: 50%;
    /* background: #D0E4FF; */
}
.featuresrowrinner{
    width: 80%;
    font-size: 1.2rem;
}
.featuresrowpara{
    color:#5D6A85;
}
.featuresbtn{
    display: flex;
    align-items: center;
    background: #ffffff00;
    border: #5D6A85 solid 1px;
    color: #5D6A85;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    padding: 1.5% 2%;
    margin-top: 5%;
    margin-bottom: 8%;
}
.featuresrowtitle{
    margin-bottom: 5%;
}
.featurecheckimg{
    margin-right: 2%;
}
.featurecheckrow{
    display: flex;
    width: 100%;
    font-weight: 900;
    margin: 4% 0;
}
#featuresrowrinner1{
    margin-left: 20%;
}
.btnandplus{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 262px;
    height: 64px;
    background: #0F67FE;
    border-radius: 12px;
    border: none;
    margin-top: 10%;
}
.btnandplusimg{
    width: 30px;
    margin-left: 10%;
}
.featuremetrics{
    margin-right: 5%;
}
.featuremetrics2{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.metricspara{
    color: #5D6A85;
    font-weight: 500;
    font-size: 1rem;
}
#featureprogressbar{
    width: 90%;
    height: 8px;
    background: #0F67FE;
}
#featureprogressbar2{
    width: 10%;
    height: 8px;
    background: #DCE1E8;
}

/* benefits */

#benefitswrapper{
    background: #F2F5F9;
    justify-content: center;
    min-height: 110vh;
    width: 100%;
    display: flex;
    color: white;
}
#benefitsheader{
    font-size: 3rem;
}
#benefitsinnerwrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #242E49;
    margin:2% auto;
    width: 98%;
    border-radius: 24px;
}
#benefitsinnerwraplim{
    width: 85%;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    flex-direction: column;
}
#benefitsgrid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
}
.benefitsgridelem{
    width: 95%;
    height: 410px;
    display: flex;
    background: #3D4966;
    border-radius: 24px;
    align-items: center;
    margin: 3% 0;
    /* justify-content: center; */
}
.benefitsboxf{
    color: white;
    font-size: 2rem;
    margin-bottom: 5%;
}
.benefitsridboxp{
    color:#BEC5D2;
    font-size: 1.2rem;
}
.benefitsgridboxl{
    width: 80%;
    /* width: 70%; */
    margin-left:8%;
    margin-right: 8%;
}
.benefitsgridboxicon{
    width: 64px;
    height: 64px;
    background: #242E49;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20%;
    border-radius: 16px;
}
.benefitsridboxp{
    margin-bottom: 10%;
}
.benefitslearn{
    display: flex;
    justify-content: space-between;
}
#benefitslearnmore{
    margin: 2% auto 5% auto;
}
#commitmentheader{
    display: flex;
    margin: 5% 0 2% 0;
}

/* CTA */

#ctawrapper{
    background: #F2F5F9;
    /* align-items: center; */
    justify-content: center;
    min-height: 70vh;
    width: 100%;
    display: flex;
}
#ctainnerwrapper{
    /* position: relative; */
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #0F67FE;
    margin:2% auto;
    width: 98%;
    border-radius: 24px;
}
#ctal{
    position: relative;
    width: 45%;
    height: 100%;
}
#ctar{
    width: 55%;
    display: flex;
    justify-content: center;
}
#ctar h1{
    font-size: 3rem;
}
#ctaphn{
    position: absolute;
    bottom: 0%;
    right: 0;
}
#ctarightflex{
    width: 60%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    color: white;
}
#ctabtns{
    display: flex;
}
#ctabtn1{
    display: flex;
    align-items: center;
    background: #ffffff00;
    border: #FFF solid 1px;
    color: white;
    font-size: 1rem;
    border-radius: 12px;
    padding: 3% 4%;
    margin-top: 5%;
    margin: 5% 3% 0 0;
}
#ctabtntxt{
    margin-right: 20px;
}
#ctaaction{
    display: flex;
    margin-bottom: 10%;
}

/* footer */
#footwrapper{
    background: #F2F5F9;
    /* align-items: center; */
    justify-content: center;
    min-height: 110vh;
    width: 100%;
    display: flex;
}
#footinnerwrapper{
    /* position: relative; */
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #242E49;
    margin:2% auto;
    width: 98%;
    border-radius: 24px;
}
#footoverlay{
    width: 100%;
    height: 100%;
    background: url(./assets/Logo\ Mark.png);
    background-position: 250px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footernav{
    display: flex;
}
#footerpara{
    color: white;
    font-size: 2rem;
    width: 70%;
    text-align: center;
    margin-bottom: 5%;
}
.footernav a{
    width: 100%;
    color: #BEC5D2;
    font-size: 1.6rem;
    /* margin: 0% 1%; */
    margin-right: 8%;
    text-align: center;
}
.footersocials{
    display: flex;
    margin: 8% 0;
}
.footersocials a{
    margin: 5%;
}
#newnavbox{
    background: #0f67fe;
    margin-bottom: 2%;
    /* margin-top: 1%; */
}
/* common */
.blip{
    background: #A6CBFF;
    width: 8px;
    height: 8px;
    margin: auto 2% auto 0;
}
#blip1{
    color: #0F67FE;
}

/* @media (max-width:1380px){
    #missionelem1{
        width: 100%;
    }
    .featuresbtn{
        max-width: 60%;
    }
    #missionelem2{
        display: none;
    }
    #tescolorbox{
        flex-direction: column;
    }
    .navboxwhite{
        display: none;
    }
    .herowrapper{
        min-height: 190vh;
    }
    .assetsframe{
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 15%;
    }
    .featuresrow{
        flex-direction: column;
        width: 98%;
    }
    .featuresrowr,.featuresrowl img{
        scale: 0.5;
    }
    .footernav a{
        display: none;
    }
    #herobgart{
        display: none;
    }
    #herotextanddownload{
        margin: 0 auto;
    }
    #iphone{
        right: 20%;
    }
    #anomaly{
        
    }
    #heartrate{
        position: absolute;
        right: 70px;
        
        scale:0.8;
    }
    #bloodpressure{
        scale:0.8;
    }
} */
